---
interface Props {
  category: string;
}
const { category } = Astro.props;
---

<span class="mr-1 mb-1 inline-block rounded-sm bg-white/10 px-1.5 py-0.5 text-xs text-gray-300">
  {category}
</span>
