---
interface Props {
    category: string;
}
const { category }: Props = Astro.props;
---

<span
    class="mr-1 mb-1 inline-block rounded-sm bg-gray-100 px-1.5 py-0.5 text-xs text-gray-600"
>
    {category}
</span>
